{% extends 'customer/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static 'customer/img/fav-icon.png' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>TAP Construction </title>

        <!-- Icon css link -->
        <link href="{% static 'customer/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'customer/css/materialdesignicons.min.css' %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="{% static 'customer/css/bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static 'customer/vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/animate-css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/flex-slider/flexslider.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static 'customer/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'customer/css/responsive.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <br>
    <body>
       
       
        
        <!--================Banner Area =================-->
        <br>
        <br>
        <!--================End Banner Area =================-->
        
        <!--================Blog Details Area =================-->
        <section class="blog_details_area p_100">
            <div class="container">
                <div class="row blog_details_inner">
                    <div class="col-md-8">
                        <div class="blog_details_img">
                            <img src="{% static 'customer/img/blog/blog-details-1.jpg' %}" alt="">
                            <div class="b_date">
                                <h3>14</h3>
                                <h5>AUGUST, 2020</h5>
                            </div>
                        </div>
                        <div class="blog_d_text">
                            <h6>Posted by <a href="#">Admin</a><span><i class="fa fa-eye" aria-hidden="true"></i>1201</span></h6>
                            <a href="#"><h3>But I must explain to you how all this mistaken idea</h3></a>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? </p>
                            <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                            <div class="quote_text">
                                <p><i class="fa fa-quote-left" aria-hidden="true"></i>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui.</p>
                            </div>
                        </div>
                        <div class="image_text">
                            <div class="media">
                                <div class="media-left">
                                    <img src="{% static 'customer/img/blog/blog-d-s-1.jpg' %}" alt="">
                                </div>
                                <div class="media-body">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.</p>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem?</p>
                                </div>
                            </div>
                            <ul class="img_list">
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Crisp fresh iconic elegant timeless clean perfume</a></li>
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Neck straight sharp silhouette and dart detail</a></li>
                                <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Machine wash cold slim fit premium stretch selvedge denim comfortable low waist</a></li>
                            </ul>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
                            <h5>Tag: </h5>
                            <ul class="img_tages">
                                <li><a href="#">Android,</a></li>
                                <li><a href="#">iPhone,</a></li>
                                <li><a href="#">Design,</a></li>
                                <li><a href="#">MockUp,</a></li>
                                <li><a href="#">Appsy</a></li>
                            </ul>
                        </div>
                        <div class="like_post">
                            <h3>You may also like</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="like_post_item">
                                        <a href="#"><img src="{% static 'customer/img/blog/like-post-1.jpg' %}" alt=""></a>
                                        <h5>But I must explain to you how all this mistaken idea</h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="like_post_item">
                                        <a href="#"><img src="{% static 'customer/img/blog/like-post-1.jpg' %}" alt=""></a>
                                        <h5>But I must explain to you how all this mistaken idea</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment_list">
                            <h3>3 comments</h3>
                            <div class="comment_list_inner">
                            	<div class="media">
									<div class="media-left">
										<img src="{% static 'customer/img/comment-user/comment-user-1.jpg' %}" alt="">
									</div>
									<div class="media-body">
										<a href="#"><h4>You may also like</h4></a>
										<h5>MAY 25, 2017 AT 5:36 PM</h5>
									</div>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									<a class="cm_reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
								<div class="media reply">
									<div class="media-left">
										<img src="{% static 'customer/img/comment-user/comment-user-2.jpg' %}" alt="">
									</div>
									<div class="media-body">
										<a href="#"><h4>You may also like</h4></a>
										<h5>MAY 25, 2017 AT 5:36 PM</h5>
									</div>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									<a class="cm_reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
								<div class="media">
									<div class="media-left">
										<img src="{% static 'customer/img/comment-user/comment-user-1.jpg' %}" alt="">
									</div>
									<div class="media-body">
										<a href="#"><h4>You may also like</h4></a>
										<h5>MAY 25, 2017 AT 5:36 PM</h5>
									</div>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
									<a class="cm_reply" href="#"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
                            </div>
                        </div>
                        <div class="comment_form_area">
                            <h3>Leave a reply</h3>
                            <form class="contact_us_form row" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" name="message" id="message" rows="1" placeholder="Your Comment"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button type="submit" value="submit" class="btn submit_btn form-control">Post Comment</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar_area">
                            <aside class="right_widget r_post_widget">
                                <div class="r_w_title">
                                    <h3>Trending Post</h3>
                                </div>
                                <div class="r_post_inner">
                                    <div class="r_post_item">
                                        <img src="{% static 'customer/img/blog/trending-post/t-post-1.jpg' %}" alt="">
                                        <a href="#"><p>But I must explain to you how all this mistaken idea</p></a>
                                    </div>
                                    <div class="r_post_item">
                                        <img src="{% static 'customer/img/blog/trending-post/t-post-2.jpg' %}" alt="">
                                        <a href="#"><p>But I must explain to you how all this mistaken idea</p></a>
                                    </div>
                                    <div class="r_post_item">
                                        <img src="{% static 'customer/img/blog/trending-post/t-post-3.jpg' %}" alt="">
                                        <a href="#"><p>But I must explain to you how all this mistaken idea</p></a>
                                    </div>
                                </div>
                            </aside>
                            <aside class="right_widget r_social_widget">
                                <div class="r_w_title">
                                    <h3>we are social</h3>
                                </div>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                </ul>
                            </aside>
                            <aside class="right_widget r_twitter_widget">
                                <div class="r_w_title">
                                    <h3>twitter feed</h3>
                                </div>
                                <div class="tweets_feed"></div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Blog Details Area =================-->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'customer/js/jquery-2.2.4.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'customer/js/bootstrap.min.js' %}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'customer/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        
        <script src="{% static 'customer/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'customer/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'customer/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'customer/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'customer/vendors/counterup/waypoints.min.js' %}"></script>
        <script src="{% static 'customer/vendors/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'customer/vendors/flex-slider/jquery.flexslider-min.js' %}"></script>
        
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static 'customer/js/gmaps.min.js' %}"></script>
        <!--Tweets-->
        <script src="{% static 'customer/vendors/tweet/tweetie.min.js' %}"></script>
        <script src="{% static 'customer/vendors/tweet/script.js' %}"></script>
        
        <script src="{% static 'customer/js/theme.js' %}"></script>
    </body>
</html>
{% endblock %}