{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
   
 <!-- Title Page-->
    <title> login here</title>

    
<!-- Icons font CSS-->
 
   
 <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">


    <!-- Main CSS-->
    <link href="{% static 'customer/css/main.css' %}" rel="stylesheet" media="all">

    <style>
        input{
           border:1px solid gray;
        }
    </style>
</head>
<div class="page-wrapper bg-blue p-t-100 p-b-100 font-robo">
    <div class="wrapper wrapper--w680"  style="padding-top: 15%;">
        <div class="card card-1" >
        
            <div class="card-body">


<form method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit">
</form>
</div>
</div>
</div>


    <!-- Jquery JS-->
    <script src="{% static 'customer/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'customer/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'customer/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'js/global.js' %}"></script>

{% endblock %}