{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static 'customer/img/fav-icon.png' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Construction - WeBuilder Template</title>

        <!-- Icon css link -->
        <link href="{% static 'customer/css/font-awesome.min.css'  %}" rel="stylesheet">
        <link href="{% static 'customer/css/materialdesignicons.min.css'  %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="{% static 'customer/css/bootstrap.min.css'  %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static 'customer/vendors/revolution/css/settings.css'  %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/revolution/css/layers.css'  %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/revolution/css/navigation.css'  %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/animate-css/animate.css'  %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/owl-carousel/assets/owl.carousel.min.css'  %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static 'customer/css/style.css'  %}" rel="stylesheet">
        <link href="{% static 'customer/css/responsive.css'  %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js' %}' %} for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js' %} doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js' %}"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
        <![endif]-->
    </head>
    <body>
       
       
        <!--================Header Area =================-->
        <header class="main_header_area">
            <div class="header_top_area">
                <div class="container">
                    <div class="pull-left">
                        <a href="#"><i class="fa fa-phone"></i>(012) - 3456789</a>
                        <a href="#"><i class="fa fa-map-marker"></i>1234 Cafficic, California</a>
                        <a href="#"><i class="mdi mdi-clock"></i>08 AM - 10 PM</a>
                    </div>
                    <div class="pull-right">
                        <ul class="header_social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="main_menu_area">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#"><img src="{% static 'customer/img/logozzz' %}" alt=""></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'home_01' %}">Home 01</a></li>
                                        <li><a href="{% url 'home_02' %}">Home 02</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown submenu active">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'project_full_width' %}">Project Full Width</a></li>
                                        <li><a href="{% url 'project_grid_three_column' %}">Project Grid 01</a></li>
                                        <li><a href="project-grid-two-column.html">Project Grid 02</a></li>
                                        <li><a href="{% url 'project_three_column' %}">Project Grid 03</a></li>
                                        <li><a href="{% url 'project_single' %}">Single Project</a></li>
                                    </ul>
                                </li>
                                <li><a href="service-single.html">Services</a></li>
                                <li><a href="#">about us</a></li>
                                <li><a href="blog-details.html">blog</a></li>
                                <li><a href="#">Contact</a></li>
                                <li class="icon_search"><a href="#"><i class="mdi mdi-cart"></i></a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </header>
        <!--================Header Area =================-->
        
        <!--================Banner Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_inner_text">
                    <h4>Project full width</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="active"><a href="#">Project full width 2 colum</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Our Project2 Area =================-->
        <section class="our_project2_area our_project_two_column">
            <div class="main_c_b_title">
                <h2>Our<br class="title_br">Projects</h2>
                <h6>Great & Awesome Works</h6>
            </div>
            <ul class="our_project_filter">
                <li class="active" data-filter="*"><a href="#">All</a></li>
                <li data-filter=".building"><a href="#">Buildings</a></li>
                <li data-filter=".interior"><a href="#">Interior</a></li>
                <li data-filter=".design"><a href="#">Design</a></li>
                <li data-filter=".isolation"><a href="#">Isolation</a></li>
                <li data-filter=".plumbing"><a href="#">Plumbing</a></li>
                <li data-filter=".tiling"><a href="#">Tiling</a></li>
            </ul>
            <div class="our_project_details">
                <div class="col-md-6 building isolation interior">
                    <div class="project_item">
                        <img src="{% static 'customer/img/project/project-two-column/project-two-1.jpg' %}" alt="">
                        
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 building isolation tiling design">
                    <div class="project_item">
                        <img src="{% static 'customer/img/project/project-two-column/project-two-2.jpg' %}" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 isolation tiling interior design plumbing">
                    <div class="project_item">
                        <img src="{% static 'customer/img/project/project-two-column/project-two-3.jpg' %}" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 building isolation tiling plumbing">
                    <div class="project_item">
                        <img src="{% static 'customer/img/project/project-two-column/project-two-4.jpg' %}" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 isolation tiling interior plumbing">
                    <div class="project_item">
                        <img src="{% static 'customer/img/project/project-two-column/project-two-5.jpg' %}" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 building isolation tiling design plumbing">
                    <div class="project_item">
                        <img src="{% static 'customer/img/project/project-two-column/project-two-6.jpg' %}" alt="">
                        <div class="project_hover">
                            <div class="project_hover_inner">
                                <div class="project_hover_content">
                                    <a href="#"><h4>Jahanara Vila</h4></a>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                    <a class="view_btn" href="#">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Our Project2 Area =================-->
        
        <!--================Get Quote Area =================-->
        <section class="get_quote_area yellow_get_quote">
            <div class="container">
                <div class="pull-left">
                    <h4>Looking for a quality and affordable constructor for your next project?</h4>
                </div>
                <div class="pull-right">
                    <a class="get_btn_black" href="#">GET A QUOTE</a>
                </div>
            </div>
        </section>
        <!--================End Get Quote Area =================-->
        
        <!--================Footer Area =================-->
        <footer class="footer_area">
            <div class="footer_widgets_area">
                <div class="container">
                    <div class="row footer_widgets_inner">
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget about_widget">
                                <img src="{% static 'customer/img/footer-logo.png' %}" alt="">
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium. ed quia consequuntur magni dolores eos qui ratione.</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget recent_widget">
                                <div class="f_w_title">
                                    <h3>Recent Posts</h3>
                                </div>
                                <div class="recent_w_inner">
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="{% static 'customer/img/blog/recent-post/recent-1.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <a href="#"><p>The road to success is always under con-struction</p></a>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <img src="{% static 'customer/img/blog/recent-post/recent-2.png' %}" alt="">
                                        </div>
                                        <div class="media-body">
                                            <a href="#"><p>The road to success is always under con-struction</p></a>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget address_widget">
                                <div class="f_w_title">
                                    <h3>Office Address</h3>
                                </div>
                                <div class="address_w_inner">
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="media-body">
                                            <p>1234 Cafficic, California, USA</p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-phone"></i>
                                        </div>
                                        <div class="media-body">
                                            <p>(012) 3456789 </p>
                                            <p>(012) 3456789 </p>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="media-left">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <div class="media-body">
                                            <p>info@domain.com</p>
                                        </div>
                                    </div>
                                </div>
                            </aside>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <aside class="f_widget give_us_widget">
                                <h5>Give Us A Call</h5>
                                <h4>(012) 3456789</h4>
                                <h5>or</h5>
                                <a class="get_bg_btn" href="#">GET A QUOTE</a>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_copy_right">
                <div class="container">
                    
                </div>
            </div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'customer/js/jquery-2.2.4.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'customer/js/bootstrap.min.js' %}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'customer/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        
        <script src="{% static 'customer/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'customer/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'customer/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'customer/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'customer/vendors/counterup/waypoints.min.js' %}"></script>
        <script src="{% static 'customer/vendors/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'customer/vendors/flex-slider/jquery.flexslider-min.js' %}"></script>
        
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static 'customer/js/gmaps.min.js' %}"></script>
        
        <script src="{% static 'customer/js/theme.js' %}"></script>
    </body>
</html>
{% endblock %}