{% extends 'customer/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="{% static 'customer/img/fav-icon.png' %}" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Construction - WeBuilder Template</title>

        <!-- Icon css link -->
        <link href="{% static 'customer/css/font-awesome.min.css' %}" rel="stylesheet">
        <link href="{% static 'customer/css/materialdesignicons.min.css' %}" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="{% static 'customer/css/bootstrap.min.css' %}" rel="stylesheet">
        
        <!-- Rev slider css -->
        <link href="{% static 'customer/vendors/revolution/css/settings.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/revolution/css/layers.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/revolution/css/navigation.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/animate-css/animate.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/owl-carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/flex-slider/flexslider.css' %}" rel="stylesheet">
        <link href="{% static 'customer/vendors/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
        
        <!-- Extra plugin css -->
        <link href="{% static 'customer/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'customer/css/responsive.css' %}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
       
       
        
        
        <!--================Banner Area =================-->
        <section class="banner_area" style="background: url(img/banner/single-page-banner2.jpg); background-size: cover">
            <div class="container">
                <div class="banner_inner_text">
                    <h4>Service Single Page</h4>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="service-single.html">Service single page</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
        
        <!--================Why Chose Us Area =================-->
        <section class="chose_video_area">
            <div class="chose_left_text">
                <div class="chose_text_inner">
                    <div class="main_b_title">
                        <h2>Why <br class="title_br"> Choose Us?</h2>
                        <h6>Play Welcome Video</h6>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    <ul>
                        <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>We Are Creative</a></li>
                        <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Honest And Dependable</a></li>
                        <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>Quality Commitment</a></li>
                        <li><a href="#"><i class="fa fa-check" aria-hidden="true"></i>We Are Always Improving</a></li>
                    </ul>
                </div>
            </div>
            <div class="chose_video_right">
                <div class="chose_video_inner">
                    <img src="{% static 'customer/img/video-1.jpg' %}" alt="">
                    <a class="popup-youtube" href="https://www.youtube.com/watch?v=5GL9JoH4Sws"><img src="{% static 'customer/img/icon/video-puse.png' %}" alt=""></a>
                </div>
            </div>
        </section>
        <!--================End Why Chose Us Area =================-->
        
        <!--================Others Service Area =================-->
        <section class="other_service_area">
            <div class="container">
                <h4 class="project_title">Our Other Services</h4>
                <div class="service2_inner other_service_slider owl-carousel">
                    <div class="item">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="{% static 'customer/img/icon/s2-icon-1.png' %}" alt="">
                                        <img src="{% static 'customer/img/icon/s2-icon-hover-1.png' %}" alt="">
                                    </div>
                                    <h4>NEW-CONSTRUCTION</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium totam rem aperiam.</p>
                                    <a class="view_btn" href="#">Read Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="{% static 'customer/img/icon/s2-icon-2.png' %}" alt="">
                                        <img src="{% static 'customer/img/icon/s2-icon-hover-2.png' %}" alt="">
                                    </div>
                                    <h4>LOCATION</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium totam rem aperiam.</p>
                                    <a class="view_btn" href="#">Read Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="service2_item">
                            <div class="service2_item_inner">
                                <div class="service2_item_inner_content">
                                    <div class="service_icon">
                                        <img src="{% static 'customer/img/icon/s2-icon-3.png' %}" alt="">
                                        <img src="{% static 'customer/img/icon/s2-icon-hover-3.png' %}" alt="">
                                    </div>
                                    <h4>REMODEL & REIMAGE</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem-que laudantium totam rem aperiam.</p>
                                    <a class="view_btn" href="#">Read Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Others Service Area =================-->
        
        <!--================Service Single Area =================-->
        <section class="service_single_area">
            <div class="container">
                <div class="service_single_inner">
                    <div class="project_single_slider">
                        <div id="slider" class="flexslider">
                            <ul class="slides">
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-2.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-2.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-1.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-2.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-1.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-2.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-1.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-2.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-1.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-s-2.jpg' %}" alt=""></li>
                            </ul>
                        </div>
                        <div id="carousel" class="flexslider">
                            <ul class="slides">
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-5.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-6.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-7.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-8.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-9.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-5.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-6.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-7.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-8.jpg' %}" alt=""></li>
                                <li><img src="{% static 'customer/img/project/project-single-slider/project-thumb-9.jpg' %}" alt=""></li>
                            </ul>
                            <div class="custom-navigation">
                                <a href="#" class="flex-prev"><i class="fa fa-angle-left"></i></a>
                                <a href="#" class="flex-next"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row s_text_inner">
                        <div class="col-md-6">
                            <div class="left_service_desc">
                                <h4 class="project_title">Service Description</h4>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper, lacus sed feugiat dictum, tellus ipsum auctor quam, non faucibus dui nisl et elit. Morbi eu interdum velit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit consequatur?</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>We are responsible</a></li>
                                    <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i>We take everything under control</a></li>
                                    <li><a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Presented in 26 countries</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="our_skill_inner">
                                <h4 class="project_title">Service Description</h4>
                                <div class="single_skill">
                                    <h3>Repairing</h3>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress_parcent"><span class="counter">90</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Painting</h3>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress_parcent"><span class="counter">80</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Gardening</h3>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress_parcent"><span class="counter">70</span>%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_skill">
                                    <h3>Repairing</h3>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                            <div class="progress_parcent"><span class="counter">80</span>%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="service_brochure">
                                <h4 class="project_title">Service Description</h4>
                                <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed semper, lacus sed feugiat dictum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download PDF</a>
                                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>Download DOC</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Service Single Area =================-->
        
        <!--================Our Latest Project Area =================-->
        <section class="our_latest_project">
            <div class="container">
                <h3 class="out_title">Our Latest projects</h3>
                <div class="our_latest_slider owl-carousel">
                    <div class="item">
                        <div class="project_item">
                            <img src="{% static 'customer/img/project/project-2/project-1.jpg' %}" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>Jahanara Vila</h4></a>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                        <a class="view_btn" href="#">View Project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project_item">
                            <img src="{% static 'customer/img/project/project-2/project-2.jpg' %}" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>Jahanara Vila</h4></a>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                        <a class="view_btn" href="#">View Project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="project_item">
                            <img src="{% static 'customer/img/project/project-2/project-3.jpg' %}" alt="">
                            <div class="project_hover">
                                <div class="project_hover_inner">
                                    <div class="project_hover_content">
                                        <a href="#"><h4>Jahanara Vila</h4></a>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium </p>
                                        <a class="view_btn" href="#">View Project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Our Latest Project Area =================-->
        
        <!--================Get Quote Area =================-->
        <section class="get_quote_area project_contact">
            <div class="container">
                <div class="pull-left">
                    <h3>Save Your Money </h3>
                    <h4>Call us today or Contact us to get started your project.. </h4>
                </div>
                <div class="pull-right">
                    <a class="get_btn_black" href="#">Contact Us</a>
                </div>
            </div>
        </section>
        <!--================End Get Quote Area =================-->
        
        
        
        
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% static 'customer/js/jquery-2.2.4.js' %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'customer/js/bootstrap.min.js' %}"></script>
        <!-- Rev slider js -->
        <script src="{% static 'customer/vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
        <script src="{% static 'customer/vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
        
        <script src="{% static 'customer/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'customer/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'customer/vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'customer/vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'customer/vendors/counterup/waypoints.min.js' %}"></script>
        <script src="{% static 'customer/vendors/counterup/jquery.counterup.min.js' %}"></script>
        <script src="{% static 'customer/vendors/flex-slider/jquery.flexslider-min.js' %}"></script>
        
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{% static 'customer/js/gmaps.min.js' %}"></script>
        
        <script src="{% static 'customer/js/theme.js' %}"></script>
    </body>
</html>
{% endblock %}